<div id="home">
  <div class="container">
    <div class="row spacer1">.</div>
    <div class="row">
      <div class="col-8 offset-2 main">

        <div class="jumbotron">
          <h1 class="display-4">Welcome to the Library</h1>
          <p class="lead">Feel free to browse, read and of course take notes</p>
          <hr class="my-4">
          <p class="lead">
            <a class="btn btn-dark btn-lg btn-front" id="js-btn" href="/articles/js" role="button">Javascript News</a>
            <a class="btn btn-dark btn-lg btn-front" id="tech-btn" href="/articles/tech" role="button">What's Happening in Tech</a>
            <a class="btn btn-dark btn-lg btn-front" href="/articles/programming" role="button">Programming for Newbs</a>
            <a class="btn btn-dark btn-lg btn-front" href="#" role="button">More on the way...</a>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="/js/index.js"></script>